<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>二维码</title>
</head>
<body>
<h1>谷歌zxing开源库生成黑白二维码</h1>

请输入文本内容:<label for="url"></label><input type="text" id="url"><button onclick="generateQRCode()">生成二维码</button><br>
<img id="qrCodeImg">
</body>
 <script>
     function generateQRCode() {
         let url = document.getElementById("url").value;
         let qrCodeImg = document.getElementById("qrCodeImg")
         qrCodeImg.src = "/generate?url=" + url;
     }
 </script>
</html>